
@{
    ViewData["Title"] = "Packets";
    Layout = "~/Views/Shared/_LayoutAgen.cshtml";
}
<style>
    .group {
    }

    .group-title {
    }
    .img-fluid {
        max-height: 118px;
        min-height: 118px;
    }
</style>
<div class="container-fluid ">
    <div class="col-lg-14 text-left ">
        <div class="container pt-3 pb-3">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="txtSearchPaket">
                        <button class="btn btn-outline-success" type="submit" id="searchPaketBtn">Search</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12" style="margin-top: 9px;">
                    <button style="float:right" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#tambahModalPaket" onclick="clearforminsert();">Tambah Packets</button>
                </div>

            </div>
        
        </div>
      
        <!-- Modal -->
        <div class="modal fade" id="tambahModalPaket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nama Paket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form id="dataInsertPaket" method="POST">
                        <div class="modal-body">
                            @*<span id="id" style="display:none">0</span>*@
                            <div class="group">
                                <div class="group-title">
                                    Paket Info
                                </div>
                                <div class="row">
                                    <div class="col ms-auto">
                                        <label for="recipient-name" class="col-form-label">Nama Paket :</label>
                                        <input type="text" class="form-control" id="nama_paket" name="nama_paket" required />
                                    </div>
                                    <div class="col ms-auto ">
                                        <label for="recipient-name" class="col-form-label">Kode Paket :</label>
                                        <input type="text" class="form-control" id="kode_paket" name="kode_paket" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col ms-auto">
                                        <label for="Image" class="form-label">Gambar :</label>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="file" id="img_paket" name="img" onchange="preview()" accept="image/png, image/jpeg, image/gif" data-max-file-size="2MB">
                                            <button class="btn btn-outline-secondary" type="button" onclick="clearImage()" id="clear">Clear</button>
                                            @*<input class="btn btn-outline-secondary" type="button" id="clear" value="Clear">*@
                                        </div>

                                        <div class="border rounded-lg text-center p-3">
                                            <img id="frame" src="" class="img-fluid" data-height="auto" />
                                        </div>
                                    </div>
                                    <div class="col ms-auto deskrip">
                                        <label for="recipient-name" class="col-form-label">Deskripsi Paket :</label>
                                        <textarea type="text" class="form-control" id="deskripsi" name="deskripsi" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-6">
                                        <label for="recipient-name" class="col-form-label">Satuan Paket :</label>

                                        <select class="form-control" id="satuan_paket" name="satuan_paket">
                                            <option selected>tahun</option>
                                            <option>paket</option>

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="group">
                                <div class="group-title">

                                </div>

                                @*TABLE MODAL*@
                                <div class="container">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail Paket</h5>
                                    </div>
                                    <table class="table table-striped table table-bordered">
                                        <thead>
                                            <tr>
                                                @*<th>No</th>*@
                                                <th>Nama Produk</th>
                                                @*<th>Deskripsi</th>*@
                                                <th>Satuan</th>
                                                <th>Min Jumlah Siswa</th>
                                                <th>Max Jumlah Siswa</th>
                                                <th>Harga</th>
                                                @*<th>Total</th>*@
                                                <th>Addon</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <select class="form-select" aria-label="Default select example" id="tipeProduk">
                                                        <option value="">- Pilih Produk -</option>
                                                    </select>
                                                </th>
                                                <th>
                                                    @*<select class="form-select" aria-label="Default select example" id="satuan">
                                    <option value="">- Pilih Produk -</option>
                                </select>*@
                                                    <input type="text" class="form-control" id="satuan" readonly />
                                                </th>
                                                <th> <input type="text" class="form-control numberOnly" id="qty" /></th>

                                                <th> <input type="text" class="form-control numberOnly" id="qty_max" /></th>

                                                <th> <input type="number" class="form-control" id="harga" /></th>

                                                @*<th> <input type="text" class="form-control" id="total" /></th>*@

                                                <th><input type="checkbox" class="" id="addon" /></th>


                                                <th><button type="button" onclick="addproduk()" class="btn btn-primary">Add</button></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped table table-bordered" id="table_agen">

                                        <thead>
                                            <tr>
                                                <th style="width:20%">Nama Produk</th>
                                                <th style="width:10%">Satuan</th>
                                                <th style="width:10%">Min Jumlah Siswa</th>
                                                <th style="width:10%">Max Jumlah Siswa</th>
                                                <th style="width:10%">Qty</th>
                                                <th style="width:15%">Harga</th>
                                                <th style="width:15%">Amount</th>
                                                <th style="width:5%">Addon</th>
                                                <th style="width:5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyListPilihPaket"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td style="border-bottom: 3pt solid rgba(0, 0, 0, 0.05); ">Discount</td>
                                                <td style="border-bottom: 3pt solid rgba(0, 0, 0, 0.05);">
                                                    <input type="text" class="form-control numberOnly" id="diskon" name="diskon" style="width:50%" />
                                                </td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                            </tr>
                                            <tr style="border-style: none ">
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td class="borderNone"></td>
                                                <td style="border-bottom: 3pt solid rgba(0, 0, 0, 0.05); ">Total</td>
                                                <td class="subtotal" id="subTotal" style="border-bottom: 3pt solid rgba(0, 0, 0, 0.05); "></td>
                                                <td class="borderNone"></td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-7 ms-auto">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align:right;">Harga Paket</h5>
                                    </div>
                                    <div class="col ms-auto allTotalPrice" id="harga_paket" style="text-align:left; font-weight: bold;"></div>
                                </div>
                            </div>
                            

                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="command" id="command" value="insert" />
                            <input type="hidden" name="id" id="id" value="" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" onclick="savepaket()" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Detail Product Pakt-->
        <div class="modal fade" id="detailsPacketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modalTitleDetailProdukPaket" id="exampleModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modalBodyDetailProductPakets" id="modalBodyDetailProductPakets">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Paket</th>
                    <th>Kode Paket</th>
                    <th>Deskripsi</th>
                    <th>Harga Paket</th>
                    <th>Diskon</th>
                    <th>Detail Paket</th>
                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody id="tbodyListPaket"></tbody>
        </table>
    </div>

</div>

<script src="~/js/functions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var dataPaket = [];
        $('.dropify').dropify();
        clearforminsert();
        getProduk();
        //getUom();
        getAllPaketList({});
        clearforminsertdetail();

        //sumPriceEachRow();


        // SEARCH PAKET FUNCTION
        $("#searchPaketBtn").on('click', function (e) {
            e.preventDefault();

            var txtInputSearchPaket = $("#txtSearchPaket").val();
            getAllPaketList({ param: txtInputSearchPaket });

        });

        $('#subTotal').keyup(function () {
            var price = $('#diskon').val();
            var fixPrice = price.replace('Rp&nbsp;', '');
            var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
            var disc = $('#diskon').val();
            var dec = (disc / 100).toFixed(2);
            var mult = fixPriceInt * dec;
            var discont = fixPriceInt - mult;
            $('#harga_paket').html(formatRP(discont));
        });

        // CALCULATE DISCOUNT
        $('#diskon').keyup(function () {
            var price = $('#subTotal').html();
                if (price == "") {
                    var harga = 0;
                    $('#harga_paket').html(formatRP(harga));
                } else {
                    var fixPrice = price.replace('Rp&nbsp;', '');
                    var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
                    var disc = $('#diskon').val();
                    var dec = (disc / 100).toFixed(2);
                    var mult = fixPriceInt * dec;
                    var discont = fixPriceInt - mult;
                    $('#harga_paket').html(formatRP(discont));
                }
            });

        // PAKET CALCULATION PRICE
        $('body').on("keyup change", ".kuantitas", function () {
            var tr = $(this).parent().parent();

            var sprice = tr.find(".price").text();
            var fixPrice = sprice.replace('Rp&nbsp;', '');
            var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
            var quantity = tr.find(".kuantitas").val();
            var dis = $("#diskon").val();
            var diskons = (dis / 100).toFixed(2);

            var price = fixPriceInt * quantity;
            var total = parseFloat(price).toFixed(0);
            tr.find(".amount").html(formatRP(total));
            tr.find("#kuantitas").val(quantity);

            // calculate grand total
            var subTotal = 0.00;
            $('tr > .amount').each(function (i, v) {
                var price = $(this).html();
                var fixPrice = price.replace('Rp&nbsp;', '');
                var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
                subTotal += fixPriceInt;
            });

            console.log('Grand Total: ', subTotal);
            $(".subtotal").html(formatRP(subTotal));

            // calculate diskon 
            var grandTotal = 0.00;
            if (diskons == "" || diskons == "0.00" || diskons == 0.00) {
                grandTotal = subTotal;
                $('.allTotalPrice').html(formatRP(grandTotal));
            } else {
                grandTotal = subTotal * diskons;
                $('.allTotalPrice').html(formatRP(grandTotal));
            }
        });

    }); // END OF DOCUMENT READY FUNCTION



    function diskon2() {
        var price = $('#subTotal').html();
        var fixPrice = price.replace('Rp&nbsp;', '');
        var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
        var disc = $('#diskon').val();
        var dec = (disc / 100).toFixed(2);
        var mult = fixPriceInt * dec;
        var discont = fixPriceInt - mult;
        $('#harga_paket').html(formatRP(discont));
    }

    var detailpaket = [];
    function addproduk() {
        //var idProduk = $('select[id=tipeProduk] option').filter(':selected').val();
        var idProduk = $('#tipeProduk').val();
        var namaProduk = $('select[id=tipeProduk] option').filter(':selected').html();
        var satuan = $('#satuan').val();
        var qty = $('#qty').val();
        var qty_max = $('#qty_max').val();
        //var kuantitas = $('#kuantitas').val();
        var harga = $('#harga').val();
        var diskon = $("#diskon").val();
        var addon = 0;
        var addontext = "";
        if (document.getElementById('addon').checked) {
            addon = 1;
            addontext = "addon";
        } 
        if ($.isNumeric(qty) == false) {
            swal("Qty Minimum Harus diisi", {
                buttons: false,
                timer: 3000,
                icon: "error",
            });
            return false;
        }
        if ( $.isNumeric(harga) == false) {
            swal("Harga Harus diisi", {
                buttons: false,
                timer: 3000,
                icon: "error",
            });
            return false;
        }

        detailpaket.push({ harga: harga, diskon: diskon});
        if (addon == 1) {
            $('#tbodyListPilihPaket').append(`
            <tr class="input-row" id="input-row`+ $('.input-row').length + `">
                <td id="id_produk" class="id_produk">`+ namaProduk + `</td>
                <td class='allSatuan'>`+ satuan + `</td>
                <td class="allQty">`+ qty + `</td>
                <td class="allQtyMax">`+ qty_max + `</td>
                <td>
                    <input type="text" class="form-control kuantitas numberOnly" id="kuantitas" field="kuantitas" name="produk[`+ ($('.input-row').length + 0) + `].kuantitas"  />
                </td>
                <td class="price" id="price">`+ formatRP(harga) + `</td>
                <td class="amount" id="amount">`+ formatRP(harga) + `</td>
                <td class="">`+ addontext + `</td>                     
                <td>
                    <button type='button' id="btnDel" idx="`+ $('.input-row').length + `" onclick='delproduk(this)' class='btnDel remove-row' >
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                <td>
                <input type="hidden" field="id_product" name="produk[`+ ($('.input-row').length + 0) + `].id_product" value="` + idProduk + `" readonly />
                <input type="hidden" field="satuan" name="produk[`+ ($('.input-row').length + 0) + `].satuan" value=` + satuan + ` readonly />
                <input type="hidden" field="jumlah_satuan" name="produk[`+ ($('.input-row').length + 0) + `].jumlah_satuan" value=` + qty + ` readonly />
                <input type="hidden" field="qty_max" name="produk[`+ ($('.input-row').length + 0) + `].qty_max" value=` + qty_max + ` readonly />
                <input type="hidden" id="kuantitas" field="kuantitas" name="produk[`+ ($('.input-row').length + 0) + `].kuantitas" value="" readonly />
                <input type="hidden" field="harga" name="produk[`+ ($('.input-row').length + 0) + `].harga" value=` + harga + ` readonly />
                <input type="hidden" field="addon" name="produk[`+ ($('.input-row').length + 0) + `].addon" value=` + addon + ` readonly />
                </td>
            </tr>`);
            $('#tipeProduk').val('');
            $('#satuan').val('');
            $('#qty').val('');
            $('#qty_max').val('');
            $('#harga').val('');
            //$('#kuantitas').val('');

            //sumPriceEachRow();
        }
        else {
            $('#tbodyListPilihPaket').append(`
            <tr class="input-row" id="input-row`+ $('.input-row').length + `">
                <td id="id_produk" class="id_produk">`+ namaProduk + `</td>
                <td class='allSatuan'>`+ satuan + `</td>
                <td class="allQty">`+ qty + `</td>
                <td class="allQtyMax">`+ qty_max + `</td>
                <td>
                    <input type="text" class="form-control kuantitas numberOnly" id="kuantitas" name="kuantitas" idxx="`+ $('.input-row').length + `" disabled/>
                </td>
                <td class="price" id="price">`+ formatRP(harga) + `</td>
                <td class="amount" id="amount">`+ formatRP(harga) + `</td>
                <td class="">`+ addontext + `</td>                     
                <td>
                    <button type='button' id="btnDel" idx="`+ $('.input-row').length + `" onclick='delproduk(this)' class='btnDel remove-row' >
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                <td>
                <input type="hidden" field="id_product" name="produk[`+ ($('.input-row').length + 0) + `].id_product" value="` + idProduk + `" readonly />
                <input type="hidden" field="satuan" name="produk[`+ ($('.input-row').length + 0) + `].satuan" value=` + satuan + ` readonly />
                <input type="hidden" field="jumlah_satuan" name="produk[`+ ($('.input-row').length + 0) + `].jumlah_satuan" value=` + qty + ` readonly />
                <input type="hidden" field="qty_max" name="produk[`+ ($('.input-row').length + 0) + `].qty_max" value=` + qty_max + ` readonly />
                <input type="hidden" id="kuantitas" field="kuantitas" name="produk[`+ ($('.input-row').length + 0) + `].kuantitas" value="" readonly />
                <input type="hidden" field="harga" name="produk[`+ ($('.input-row').length + 0) + `].harga" value=` + harga + ` readonly />
                <input type="hidden" field="addon" name="produk[`+ ($('.input-row').length + 0) + `].addon" value=` + addon + ` readonly />
                </td>
            </tr>`);

            $('#tipeProduk').val('');
            $('#satuan').val('');
            $('#qty').val('');
            $('#qty_max').val('');
            $('#harga').val('');
            $('#kuantitas').val('');

        }
            sumPriceEachRow();

    }

    // UPDATE PACKET
    function showEditPaket(id) {
        var d = dataPaket.find(function (s) { return s.id == id });
        console.log(d);
        if (d != undefined) {
            $("#id").val(d.id);
            $("#nama_paket").val(d.nama_paket);
            $("#kode_paket").val(d.kode_paket);
            var kodePaket = $("#kode_paket").val(d.kode_paket).val();
            //var hargaPaket = $("#harga_paket").val(d.harga_paket).val();
            //var intHargaPaket = parseInt(hargaPaket);
            $("#deskripsi").val(d.deskripsi);
            var imgUrl = "../../Content/ImgProduct/" + d.img_paket;
            $('#frame').attr("src", imgUrl);
            $('#diskon').val(d.diskon);
            //$('.allTotalPrice').html(d.harga_paket);
            var hargaPaket = formatRP(d.harga_paket.toString());
            $(".allTotalPrice").html(hargaPaket);
            $("#kuantitas").val(d.kuantitas);

            $.post('/Paket/getDetailPaket', { id_paket: d.id },
                function (data, status) {
                    document.getElementById('tbodyListPilihPaket').innerHTML = "";
                    detailpaket = data;
                    $.each(data, function (i, item) {

                        //$('#harga_paket').html(`<span>"` + intHargaPaket + `"</span>`);
                        var addon = 0;
                        var addontext = "";
                        if (data[i].addon == "1") {
                            addon = 1;
                            addontext = "addon";
                        }

                        var amount = data[i].harga * data[i].kuantitas;
                        if (addon == 1) {
                            $('#tbodyListPilihPaket').append(`
                                 <tr class="input-row" id="input-row`+ i + `">
                                     <td id="id_produk" class="id_produk">`+ data[i].nama_product + `</td>
                                     <td class='allSatuan'>`+ data[i].satuan + `</td>
                                     <td class="allQty">`+ data[i].qty + `</td>
                                     <td class="allQtyMax">`+ data[i].qty_max + `</td>
                                     <td>
                                        <input type="text" field="kuantitas" class="form-control kuantitas numberOnly" id="kuantitas" idxx="`+ $('.input-row').length + `" value=` + data[i].kuantitas + ` name="produk[` + i + `].kuantitas" value="` + data[i].kuantitas + `" />
                                     </td>
                                     <td class="price">`+ formatRP(data[i].harga) + `</td>
                                     <td class="amount">`+ formatRP(amount) + `</td>
                                     <td>`+ addontext + `</td>
                                   
                                     <td>
                                         <button type='button' id="btnDel removeItem-` + i + `" idx="` + i + `" onclick='delproduk(this)' class='btnDel remove-row' ">
                                              <i class="fa-solid fa-trash-can"></i>
                                         </button>
                                     </td>
                                    <td>
                                        <input type="hidden" field="id_product" name="produk[`+ i + `].id_product" value="` + data[i].id_product + `" readonly />
                                        <input type="hidden" field="satuan" name="produk[`+ i + `].satuan" value=` + data[i].satuan + ` readonly />
                                        <input type="hidden" field="jumlah_satuan" name="produk[`+ i + `].jumlah_satuan" value=` + data[i].qty + ` readonly />
                                        <input type="hidden" field="qty_max" name="produk[`+ i + `].qty_max" value=` + data[i].qty_max + ` readonly />
                                        <input type="hidden" field="kuantitas" name="produk[`+ i + `].kuantitas" value=` + data[i].kuantitas +` readonly />
                                        <input type="hidden" field="harga" name="produk[`+ i + `].harga" value=` + data[i].harga + ` readonly />
                                        <input type="hidden" field="addon" name="produk[`+ i + `].addon" value=` + addon + ` readonly />
                                    </td>
                                 </tr>
                                `);
                            /*sumPriceEachRow();*/
                        }
                        else {
                            $('#tbodyListPilihPaket').append(`
                                 <tr class="input-row" id="input-row`+ i + `">
                                     <td id="id_produk" class="id_produk">`+ data[i].nama_product + `</td>
                                     <td class='allSatuan'>`+ data[i].satuan + `</td>
                                     <td class="allQty">`+ data[i].qty + `</td>
                                     <td class="allQtyMax">`+ data[i].qty_max + `</td>
                                     <td>
                                        <input type="text" field="kuantitas" class="form-control kuantitas numberOnly" id="kuantitas" idxx="`+ $('.input-row').length + `" disabled/>
                                     </td>
                                     <td class="price">`+ formatRP(data[i].harga) + `</td>
                                     <td class="amount">`+ formatRP(data[i].harga) + `</td>
                                     <td>`+ addontext + `</td>
                                   
                                     <td>
                                         <button type='button' id="btnDel removeItem-` + i + `" idx="` + i + `" onclick='delproduk(this)' class='btnDel remove-row' ">
                                              <i class="fa-solid fa-trash-can"></i>
                                         </button>
                                     </td>
                                    <td>
                                        <input type="hidden" field="id_product" name="produk[`+ i + `].id_product" value=` + data[i].id_product + ` readonly />
                                        <input type="hidden" field="satuan" name="produk[`+ i + `].satuan" value=` + data[i].satuan + ` readonly />
                                        <input type="hidden" field="jumlah_satuan" name="produk[`+ i + `].jumlah_satuan" value=` + data[i].qty + ` readonly />
                                        <input type="hidden" field="qty_max" name="produk[`+ i + `].qty_max" value=` + data[i].qty_max + ` readonly />
                                        <input type="hidden" field="kuantitas" name="produk[`+ i + `].kuantitas" value=` + data[i].kuantitas +` readonly />
                                        <input type="hidden" field="harga" name="produk[`+ i + `].harga" value=` + data[i].harga + ` readonly />
                                        <input type="hidden" field="addon" name="produk[`+ i + `].addon" value=` + addon + ` readonly />         
                                    </td>
                                 </tr>
                                `);
                            
                        }
                    });
                    sumPriceEachRow();
                });

            $("#command").val("update");
            $("#tambahModalPaket").modal("show");

        }
    }

    // SUM PRICE EACH ROW
    function sumPriceEachRow() {
        var sumDiskon = 0;
        var sumTotalNoDiskon = 0;
        var diskon = $("#diskon").val();
        console.log(diskon);
        if (diskon == 0 || diskon == "") {
            $('.amount').each(function () {
                var price = $(this).html();
                var fixPrice = price.replace('Rp&nbsp;', '');
                var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
                sumDiskon += fixPriceInt;

                $(".subtotal").html(formatRP(sumDiskon));
                $(".allTotalPrice").html(formatRP(sumDiskon));
            });

        } else {
            $('.amount').each(function () {
                var dec = (diskon / 100).toFixed(2);
                var price = $(this).html();
                var fixPrice = price.replace('Rp&nbsp;', '');
                var fixPriceInt = parseFloat(fixPrice.replace(/[^0-9,-]+/g, ""));
                sumDiskon += fixPriceInt * dec;
                sumTotalNoDiskon += fixPriceInt;

                $(".subtotal").html(formatRP(sumTotalNoDiskon));
                $(".allTotalPrice").html(formatRP(sumDiskon));
            });
        }

    }

    // SAVE PACKETS
    function savepaket() {
        var form = $("#dataInsertPaket")[0];
        var data = new FormData(form);
        console.log(data);
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/Paket/savePaket',
            data: data,
            //data: data,
            processData: false,
            //contentType: dataType,
            contentType: false,
            cache: false,
            //dataType: 'json',
            success: function (result) {
                console.log('Data received: ');
                console.log(result);
                if (result.hasil == true) {
                    swal("Tambah Paket Berhasil!", "Klik Tombol OK!", "success").then(function () {
                        $("#tambahModalProduct").modal("hide");
                        clearforminsert();
                        location.reload();
                    });
                } else {
                    swal("Tambah Paket Gagal! " + result.keterangan, "Klik Tombol OK!", "error").then(function () {
                    });
                }
            },
            error: function (error) {
                swal("Tambah Paket Gagal! ", "Klik Tombol OK!", "error").then(function () {
                });
            }
        });
    }
    function preview() {
        console.log("preview");
        var frame = document.getElementById("frame");
        frame.src = URL.createObjectURL(event.target.files[0]);
        console.log(frame.src);
    }

    function clearImage() {
        $('#formFileImg').val('');
        var frame = document.getElementById("frame");
        frame.src = "";
    }

    // GET TOTAL PRICE
    //function sumOfColumns() {
    //    var totalPrice = 0;
    //    //$('.price').each(function () {
    //    //    totalPrice += parseInt($(this).html());
    //    //    $(".allTotalPrice").html(formatRP(totalPrice));
    //    //});
    //    detailpaket.forEach(function (data) {
    //        if (data.diskon == 0 || data.diskon == null || data.diskon == undefined || data.diskon == '') {
    //            totalPrice += parseInt(data.harga);
    //            $(".allTotalPrice").html(formatRP(totalPrice));
    //            $(".subtotal").html(formatRP(totalPrice));
    //        } else {
    //            var dec = (data.diskon / 100).toFixed(2);
    //            var mult = parseInt(data.harga) * dec;
    //            totalPrice += mult;
    //            $(".allTotalPrice").html(formatRP(totalPrice));
    //            $(".subtotal").html(formatRP(totalPrice));
    //        }
    //    });
    //}


    // DELETE PRODUCT PER ROW
    function delproduk(t) {
        var idx= $(t).attr('idx');
        $('#input-row' + idx).remove();
        $('.input-row').each(function (i, el) {
            $(el).attr("id", 'input-row'+i);
            var elems = el.querySelectorAll("input");
            $(elems).each(function (ix, els) {
                var field = $(els).attr("field");
                if (field != undefined) {
                    $(els).attr('name', 'produk[' + (i) + '].' + field);
                }
            })
            var elemsa = el.querySelectorAll("button");
            console.log(elemsa);
            $(elemsa).each(function (ix, els) {
                $(els).attr('idx', i);
            })
        })
        
        detailpaket.splice(idx, 1);
        sumPriceEachRow();

        if (idx == null || idx == undefined) {
            $("#subTotal").html(0);
            $("#harga_paket").html("");
        }
        diskon2();
    }



    // SHOW DETAIL PAKETS
    function showDetailPakets(id) {
        clearforminsertdetail();
        $("#detailsPacketModal").modal("show");
        var d = dataPaket.find(function (s) { return s.id == id });
        // var kodePaket = $("#id").val(d.kode_paket).val();

        $.post('/Paket/getDetailPaket', { id_paket: id },
            function (data, status) {
                $.each(data, function (i, item) {
                    var imgUrl = "../../Content/ImgProduct/" + data[i].img_product;
                    var harga = formatRP(data[i].harga);

                    $('.modalTitleDetailProdukPaket').html(`<span>"` + data[i].nama_paket + `"</span>`);

                    $('#modalBodyDetailProductPakets').append(`
                                    <section style="background-color: #eee;">
                                        <div class="container py-2">
                                            <div class="row justify-content-center mb-3">
                                                <div class="col-md-12 col-xl-10">
                                                    <div class="card shadow-0 border rounded-3">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                                        <img src="`+ imgUrl + `" class="" style="max-height: 141px;" />
                                                                        <a href="#!">
                                                                            <div class="hover-overlay">
                                                                              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-6 col-xl-6">
                                                                    <h5>`+ data[i].nama_product + `</h5>
                                                                    <div class="d-flex flex-row">
                                                                        <div class="text-danger mb-1 me-2">
                                                                            <i class="fa fa-star fa-beat" style="--fa-beat-scale: 1.0;"></i>
                                                                            <i class="fa fa-star fa-beat" style="--fa-beat-scale: 1.5;"></i>
                                                                            <i class="fa fa-star fa-beat" style="--fa-beat-scale: 2.0;"></i>
                                                                            <i class="fa fa-star fa-beat" style="--fa-beat-scale: 2.5;"></i>
                                                                        </div>
                                                                        <span>` + data[i].id_product + `</span>
                                                                    </div>
                                                                    <div class="mt-1 mb-0 text-muted small">
                                                                      <span>`+ data[i].qty + ` ` + data[i].satuan + `</span>
                                                                      <span class="text-primary"> • </span>
                                                                      <span>Produk Terlaris</span>
                                                                      <span class="text-primary"> • </span>
                                                                      <span>Mudah Digunakan<br /></span>
                                                                    </div>
                                                                    <div class="mb-2 text-muted small">
                                                                      <span><a href="`+ data[i].url_product + `">` + data[i].url_product + `</a></span><br>
                                                                      <span>` + harga + `</span>
                                                                    </div>
                                                                    <p class="text-truncate mb-4 mb-md-0">` + data[i].description + `</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <section>
                                `);
                });
            });
    }

    // READ PACKET
    function getAllPaketList(param) {
        $.post("/Paket/getPaket", param,
            function (data, status) {
                document.getElementById('tbodyListPaket').innerHTML = "";
                var isi = "";
                $.each(data, function (i, item) {
                    dataPaket = data;
                    var harga = formatRP(data[i].harga_paket);
                    isi += `<tr>
                                            <td>`+ (i + 1) + `</td>
                                            <td>`+ data[i].nama_paket + `</td>
                                            <td>`+ data[i].kode_paket + `</td>
                                            <td>`+ data[i].deskripsi + `</td>
                                            <td>`+ harga + `</td>
                                            <td>`+ data[i].diskon + ` %</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" onclick='showDetailPakets("` + data[i].id + `")'  >
                                                    <i class="fa-solid fa-circle-info"></i>
                                                <span>See details</span>
                                                </button>
                                            </td>
                                            <td style='text-align:center'>
                                            <button type='button' class='btn' onclick='showEditPaket("` + data[i].id + `")'><i class="fa-solid fa-pen-to-square"></i></button>
                                            ||
                                            <button type='button' onclick='deletePaket("` + data[i].id + `")' class='btn'>
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button></td>
                                        </tr>`;
                });
                if (data != "") {
                    document.getElementById('tbodyListPaket').innerHTML += isi;
                } else {
                    document.getElementById('tbodyListPaket').innerHTML += "<tr><td colspan='8' class='center'>Belum Ada Data Paket</td></tr>";
                }
                //$.LoadingOverlay("hide");
            });
    }

    // DELETE PACKET
    function deletePaket(id) {
        swal({
            title: "Anda Yakin Akan Menghapus Paket ini?",
            text: "Data yang telah dihapus tidak bisa dikembalikan!",
            icon: 'warning',
            dangerMode: true,
            buttons: {
                cancel: 'Tidak!',
                delete: 'Ya'
            }
        }).then(function (willDelete) {
            if (willDelete) {
                $.post('/Paket/deletePaket', { id: id },
                    function (data, status) {
                        if (status == 'success') {
                            swal("Delete Paket Berhasil!", "Klik Tombol OK!", {
                                icon: "success",
                            }).then(function () {
                                location.reload();
                            })
                        }
                    })
            }
            else {
                swal("Delete Paket Gagal! " + result.keterangan, "Klik Tombol OK!", "error").then(function () {
                });
            }
        })
    }



    // GET DATA PRICE BY SELECTED PRODUCT TYPE
    $('#tipeProduk').on('change', function () {
        // get ID by item product
        var id = $(this).val();
        //console.log(id);

        $.get('/Paket/findPrice', { id_product: id },
            function (data, status) {
                if (status == "success") {
                    //var rp = "Rp. ";
                    //$('#harga').val(rp + data[0].harga);
                    $('#harga').val(data[0].harga);
                    $('#satuan').val(data[0].satuan);
                    

                }
            });
    });

    // GET PRODUCT DROPDOWN LIST
    function getProduk() {
        $.post("/Paket/getProducts", {},
            function (data, status) {
                document.getElementById('tipeProduk').innerHTML = "";
                var isi = "<option value=''>- Pilih Produk -</option>";
                $.each(data, function (i, item) {
                    isi += "<option value='" + data[i].id_product + "'>" + data[i].nama_product + "</option>";
                })
                $("#tipeProduk").empty();
                $("#tipeProduk").append(isi);
                //$('select').formSelect();
            });
    }

    // GET UOM DROPDOWN LIST
    function getUom() {
        $.post("/Paket/getUom", {},
            function (data, status) {
                document.getElementById('satuan').innerHTML = "";
                var isi = "<option value=''>- Pilih Satuan -</option>";
                $.each(data, function (i, item) {
                    isi += "<option value='" + data[i].nama_satuan + "'>" + data[i].nama_satuan + "</option>";
                })
                $("#satuan").empty();
                $("#satuan").append(isi);
                //$('select').formSelect();
            });
    }

    function clearforminsert() {
        var e = document.querySelectorAll("#dataInsertPaket input");
        for (var i = 0; i < e.length; i++) { e[i].value = ""; }

        var el = document.getElementsByTagName('textarea');
        for (var i = 0; i < el.length; i++) { el[i].value = ""; }

        $('#formFileImg').val('');
        var frame = document.getElementById("frame");
        frame.src = "";

        //var listPaket = document.querySelectorAll("#input-row td input");
        //for (var i = 0; i < listPaket.length; i++) { listPaket[i].value = ""; }

        //$("#input-row tr").remove();
        $("#tbodyListPilihPaket").empty();

        //$('.allTotalPrice td').prev().empty();
        $('.subtotal').empty();

        //$(".allTotalPrice").find(".titleLine, table").remove();
        $('#harga_paket').empty();
        $("#command").val("insert");
    }

    function clearforminsertdetail() {
        $(".modal").on("hidden.bs.modal", function () {
            $(".modalBodyDetailProductPakets").html("");
        });
    }

    // SET NUMBER ONLY
    (function ($) {
        $.fn.inputFilter = function (callback, errMsg) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop focusout", function (e) {
                if (callback(this.value)) {
                    // Accepted value
                    if (["keydown", "mousedown", "focusout"].indexOf(e.type) >= 0) {
                        $(this).removeClass("input-error");
                        this.setCustomValidity("");
                    }
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    // Rejected value - restore the previous one
                    $(this).addClass("input-error");
                    this.setCustomValidity(errMsg);
                    this.reportValidity();
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    // Rejected value - nothing to restore
                    this.value = "";
                }
            });
        };
    }(jQuery));
    $(".numberOnly").inputFilter(function (value) {
        return /^-?\d*$/.test(value);
    }, "Harus Berupa Angka");

</script>

<style>
    .rp-container {
        padding: 10px 10px 0 10px;
        background: f3f3f3;
        width: 500px;
        margin: 20px auto;
        border: 1px solid #cecece;
    }

    .input-row {
        padding: 5px;
        margin-bottom: 10px;
    }

        .input-row:nth-child(odd) {
            background-color: #efefef;
        }

    #inputContainers {
        margin-top: 15px;
    }

    #remove-row {
        margin-left: 5px;
    }

    input[type="text"] {
        margin: 0 10px;
    }

    #addNewItem {
        display: block;
        text-align: right;
    }
    .borderNone {
        border-width: 5px;
        border-style: none !important;
    }
</style>
