
@{
    ViewData["Title"] = "AgenPage";
    Layout = "~/Views/Shared/_LayoutUserAgen.cshtml";
}

<header>
    <div>
        <section class="bg-light">
            <div class="container py-8">
                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Smart Integrated Education System.</h1>
                        <h3>Featured Product</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

<div class="container">
    <div class="row pt-5 m-auto" id="row"></div>
</div>


<script src="~/js/functions.js"></script>
<script>
    $(document).ready(function () {
        var dataPaket = [];
        getAllProductList();
        getAllPaketList();

    });


    function getAllProductList() {
        $.post("/Product/getProduct", {},
            function (data, status) {
                $.each(data, function (i, item) {
                    var imgUrl = "../../Content/ImgProduct/" + data[i].img_product;
                    dataPaket = data;
                    $('#row').append(`
                            <div class="col-md-8 col-lg-4 pb-3">
                                <!-- Add a style="height: XYZpx" to div.card to limit the card height and display scrollbar instead -->
                                <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                                    <div class="card-custom-img" style="background-image: url(`+ imgUrl + `" alt="` + data[i].img_product + `);"></div>
                                        <h4 class="card-title">`+ data[i].nama_product + `</h4>
                                        <h5 class="card-title">`+ formatRP(data[i].harga) + `</h5>
                                    <div class="card-body" style="overflow-y: auto">
                                        <p>`+ data[i].description + `</p>
                                    </div>
                                </div>
                            </div>
                                    `);
                });
            });
    }

    // GET ALL PAKET
    function getAllPaketList() {
        $.post("/Paket/getPaket", {},
            function (data, status) {
                $.each(data, function (i, item) {
                    dataPaket = data;
                    $('#featurePaket').append(`
                            <div class="col-md-8 col-lg-6 col-xl-4 py-3">
                                <div class="card text-black">
                                    <div class="card-header rounded-top bg-info text-dark">
                                        <h3 class="text-center" id="kode_paket">` + data[i].nama_paket + `</h3>
                                    </div>

                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title">`+ data[i].kode_paket + `</h5>
                                            <h4 class="text-muted mb-4">`+ data[i].deskripsi + `</h4>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center pb-2 mb-1 detailPaketItem" id="detailPaketItem">
                                            <button type="button" class="btn btn-primary " onclick='showDetailPakets("` + data[i].id + `")' >
                                                <i class="fa-solid fa-circle-info"></i>
                                                See details
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                            <span></span><span><h4>Rp. `+ data[i].harga_paket + `</h4></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    `);
                });
                //$.LoadingOverlay("hide");
            });
    }

    // SHOW DETAIL PAKETS
    function showDetailPakets(id) {
        clearforminsertdetail();
        $("#detailsPacketModal").modal("show");
        var d = dataPaket.find(function (s) { return s.id == id });

        $.post('/Paket/getDetailPaket', { id_paket: id },
            function (data, status) {
                $.each(data, function (i, item) {
                    var imgUrl = "../../Content/ImgProduct/" + data[i].img_product;
                    dataPaket = data;

                    $('.modalTitleDetailProdukPaket').html(`<span>"` + data[i].nama_paket + `"</span>`);

                    $('#modalBodyDetailProductPakets').append(`
                        <section style="background-color: #eee;">
                            <div class="container py-2">
                                <div class="row justify-content-center mb-3">
                                    <div class="col-md-12 col-xl-10">
                                        <div class="card shadow-0 border rounded-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                            <img src="`+ imgUrl + `" class="w-100" />
                                                            <a href="#!">
                                                                <div class="hover-overlay">
                                                                  <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                                        <h5>`+ data[i].nama_product + `</h5>
                                                        <div class="d-flex flex-row">
                                                            <div class="text-danger mb-1 me-2">
                                                                <i class="fa fa-star fa-beat" style="--fa-beat-scale: 1.0;"></i>
                                                                <i class="fa fa-star fa-beat" style="--fa-beat-scale: 1.5;"></i>
                                                                <i class="fa fa-star fa-beat" style="--fa-beat-scale: 2.0;"></i>
                                                                <i class="fa fa-star fa-beat" style="--fa-beat-scale: 2.5;"></i>
                                                            </div>
                                                            <span>` + data[i].id_product + `</span>
                                                        </div>
                                                        <div class="mt-1 mb-0 text-muted small">
                                                          <span>`+ data[i].qty + ` ` + data[i].satuan + `</span>
                                                          <span class="text-primary"> • </span>
                                                          <span>Produk Terlaris</span>
                                                          <span class="text-primary"> • </span>
                                                          <span>Mudah Digunakan<br /></span>
                                                        </div>
                                                        <div class="mb-2 text-muted small">
                                                          <span><a href="`+ data[i].url_product + `">` + data[i].url_product + `</a></span>
                                                        </div>
                                                        <h4 class="text-truncate mb-4 mb-md-0">Rp. ` + data[i].harga + `</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <section>
                    `);
                });
            });
    }

    function transaksi() {
        $("#transaksiModal").modal("show");

    }

    function clearforminsert() {
        var e = document.querySelectorAll("#dataInsert input");
        for (var i = 0; i < e.length; i++) { e[i].value = ""; }
        $("#command").val("insert");
    }

    function clearforminsertdetail() {
        $(".modal").on("hidden.bs.modal", function () {
            $(".modalBodyDetailProductPakets").html("");
        });
    }
</script>


<style>
    .card-custom {
        overflow: hidden;
        min-height: 450px;
        box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    }

    .card-custom-img {
        height: 200px;
        min-height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-color: inherit;
    }

    /*css 2*/
    @@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


    .card {
        /*width: 280px;*/
        /*height: 520px;*/
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: #fff;
        transition: all 0.5s ease;
        cursor: pointer;
        user-select: none;
        z-index: 10;
        overflow: hidden
    }

        .card .backgroundEffect {
            bottom: 0;
            height: 0px;
            width: 100%
        }

        .card:hover {
            color: #000;
            transform: scale(1.025);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
        }

            .card:hover .backgroundEffect {
                bottom: 0;
                height: 320px;
                width: 100%;
                position: absolute;
                z-index: -1;
                background: #1b9ce3;
                animation: popBackground 0.3s ease-in
            }

    @@keyframes popBackground {
        0% {
            height: 20px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%
        }

        50% {
            height: 80px;
            border-top-left-radius: 75%;
            border-top-right-radius: 75%
        }

        75% {
            height: 160px;
            border-top-left-radius: 85%;
            border-top-right-radius: 85%
        }

        100% {
            height: 320px;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%
        }
    }

    .card .content .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        background-color: #1b9ce3;
        border-radius: 25px;
        font-size: 12px;
        border: none
    }

    .card:hover .content .btn {
        background: #fff;
        color: #1b9ce3;
        box-shadow: #0000001a 0px 3px 5px
    }

    .card .content .foot .admin {
        color: #1b9ce3;
        font-size: 12px
    }

</style>